@media only screen and (max-width: 760px) {
    .sso-widgets{
        margin: 15px 0px 0px -13px;
        border-top: 1px solid #ccc;
        padding: 15px 0px 0px 1px;
    }
}

@media only screen and (min-width: 760px) {
    .right-pannel{
        border-right: 1px solid #dddddd
    }
}